{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        $("#search_drugstore_table").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#drugstore_table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $('#clear_search_bar').click(function () {
            $("#search_drugstore_table").val('').focus();
            var value = $(this).val().toLowerCase();
            $("#drugstore_table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        })
        $(document).keyup(function(e) {
            if (e.key === "Escape") { // escape key maps to keycode `27`
                $("#search_drugstore_table").val('').focus();
                var value = $(this).val().toLowerCase();
                $("#drugstore_table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            }
        });
    });
</script>
{% endblock %}

{% block action_menu %}
    <a href="{{ url_for('spravka.add_drugstore') }}" class="btn btn-outline-primary">{{ _('Add Drugstore') }}</a>
{% endblock %}

{% block app_content %}
    <h1>{{ _('Drugstore adresses') }}</h1>
    <input type="text" id="search_drugstore_table" , placeholder="{{ _('Search...') }}">
    <button class="btn btn-outline-primary" id="clear_search_bar" title="{{ _('Delete input. You can press ESC to clear input string') }}">X</button>
    <table class="table">
        <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Adress') }}</th>
            <th>{{ _('Work Time') }}</th>
            <th>{{ _('Phone') }}</th>
            <th>{{ _('IP Phone') }}</th>
            {%  if current_user.is_authenticated %}
            <th>{{ _('Options') }}</th>
            {% endif %}
        </tr>
        <tbody id="drugstore_table">
            {% for item in drugstore_list %}
            <tr>
                <td>{{ item.ds_name }}</td>
                <td>{{ item.ds_adress }}</td>
                <td>{{ item.ds_worktime }}</td>
                <td>{{ item.ds_phone }}</td>
                <td>{{ item.ds_ip_phone }}</td>
                {%  if current_user.is_authenticated %}
                <td>
                    <a href="{{ url_for('spravka.edit_drugstore', id=item.id) }}"
                       class="btn btn-outline-primary">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ url_for('spravka.del_drugstore', id=item.id) }}"
                       class="btn btn-outline-primary">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
