{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block action_menu %}
    <a href="{{ url_for('spravka.add_drugstore') }}" class="btn btn-outline-primary">{{ _('Add Drugstore') }}</a>
    <a href="{{ url_for('spravka.add_sc') }}" class="btn btn-outline-primary">{{ _('Add Service Center') }}</a>
{% endblock %}

{% block app_content %}
    <h1>{{ _('Drugstore adresses') }}</h1>
    <table class="table">
        <tr>
            <th>{{ _('Name') }}</th>
            <th>{{ _('Adress') }}</th>
            <th>{{ _('Work Time') }}</th>
            <th>{{ _('Phone') }}</th>
            <th>{{ _('IP Phone') }}</th>
            {%  if current_user.is_authenticated %}
            <th>{{ _('Options') }}</th>
            {% endif %}
        </tr>
        {% for item in drugstore_list %}
        <tr>
            <td>{{ item.ds_name }}</td>
            <td>{{ item.ds_adress }}</td>
            <td>{{ item.ds_worktime }}</td>
            <td>{{ item.ds_phone }}</td>
            <td>{{ item.ds_ip_phone }}</td>
            {%  if current_user.is_authenticated %}
            <td>
                <a href="{{ url_for('spravka.edit_drugstore', id=item.id) }}"
                   class="btn btn-outline-primary">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{{ url_for('spravka.del_drugstore', id=item.id) }}"
                   class="btn btn-outline-primary">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <h1>{{ _('Service Center Adresses') }}</h1>
    <table class="table">
        <tr>
            <th>{{ _('Brands Name') }}</th>
            <th>{{ _('Adress') }}</th>
            <th>{{ _('Phone') }}</th>
            {% if current_user.is_authenticated %}
            <th>{{ _('Options') }}</th>
            {% endif %}
        </tr>
        {% for item in sc_list %}
        <tr>
            <td>{{ item.brands }}</td>
            <td>{{ item.sc_adress }}</td>
            <td>{{ item.sc_phone }}</td>
            {% if current_user.is_authenticated %}
            <td>
                <a href="{{ url_for('spravka.edit_sc', id=item.id) }}"
                   class="btn btn-outline-primary">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{{ url_for('spravka.del_sc', id=item.id) }}"
                   class="btn btn-outline-primary">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}
