
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"
            integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs="
            crossorigin="anonymous">
    </script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + '5001');
        socket.on( 'connect', function() {
            socket.emit( 'my event', {
            data: 'User Connected'
            })
            var form = $( 'form' ).on( 'submit', function( e ) {
                e.preventDefault()
                let user_name = $( 'input.username' ).val()
                let user_input = $( 'input.message' ).val()
                socket.emit( 'my event', {
                    user_name : user_name,
                    message : user_input
                })
                $( 'input.message' ).val( '' ).focus()
            })
        })
        socket.on( 'my response', function( msg ) {
            console.log( msg )
            if( typeof msg.user_name !== 'undefined' ) {
                var esc_name = msg.user_name;
                var esc_message = msg.message;
                $( 'div#chat_body' ).append( '<div><b style="color: #000">'+esc_name+'</b> '+esc_message+'</div>' )
            }
        })
    </script>
{% endblock%}

{% block action_menu %}

{% endblock %}

{% block app_content %}
    <div class="" id="chat_panel">
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ form.name(class='username', placeholder=_('Username')) }}
            {{ form.message(class='message', placeholder=_('Your message')) }}
            {{ form.submit(class='btn btn-outline-primary') }}
        </form>
    </div>
    <hr>
    <div class="d-flex flex-column-reverse" id="chat_body"></div>

{% endblock %}
