{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        $(".card-body").hide();
        $(".card-header").click(function(){
            $(this).next().toggle();
        });
    });
</script>
<script src="{{ url_for('static', filename='js/bootstrap-confirm-delete.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-confirm-delete-conf.js') }}"></script>
{% endblock %}

{% block action_menu %}
<a href="{{ url_for('faq.add_faq') }}" class="btn btn-outline-primary">{{ _('Add FAQ') }}</a>
{% endblock %}

{% block app_content %}
        <div class="container">
            {% for faq_post in faq_posts %}
            <div class="card">
                <div class="card-header">
                    {{ faq_post.title }}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('faq.del_faq', faq_id=faq_post.id) }}" class="btn btn-outline-primary float-right delete">{{ _('Delete post') }}</a>
                    <a href="{{ url_for('faq.edit_faq', faq_id=faq_post.id) }}" class="btn btn-outline-primary float-right">{{ _('Edit post') }}</a>
                    {% endif %}
                </div>
                <div class="card-body">{{ faq_post.body | safe }}</div>
            </div>
            <br>
            {% endfor %}
        </div>
{% endblock %}