{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block action_menu %}
<a href="{{ url_for('schedule.add_schedule') }}" class="btn btn-outline-primary">asd</a>
{% endblock %}

{% block scripts %}
{#<script type="text/javascript">#}
{#    function printDiv(divName) {#}
{#        var printContents = document.getElementById(divName).innerHTML;#}
{#        w=window.open();#}
{#        w.document.write(printContents);#}
{#        w.print();#}
{#        w.close();#}
{#    }#}
{#</script>#}
    <script>
        function printDiv() {
            window.print();
        }
    </script>
{% endblock %}

{% block app_content %}
    График на текущий месяц:
    <p>Январь 2019</p>
    <button onclick="printDiv()">Печать</button>
    <table class="table table-bordered table-hover" id="print-content">
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
            <th>Часы</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Иванов И.И.</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>200</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Андреев А.А.</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>200</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Петров П.П</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>В</td>
            <td>7:30</td>
            <td>7:30</td>
            <td>В</td>
            <td>200</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
{% endblock %}
