{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
{% endblock %}

{% block action_menu %}
    <a href="{{ url_for('edinfo.add_article') }}" class="btn btn-outline-primary">{{ _('Add article') }}</a>
{% endblock %}

{% block app_content %}
    {% for edinfo_post in edinfo_posts %}
        <a href="{{ url_for('edinfo.article', article_id=edinfo_post.id) }}">{{ edinfo_post.title | safe }}</a>
        <br>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('edinfo.delete_article', article_id=edinfo_post.id) }}"
                   class="btn btn-outline-primary float-right delete"
                   title="{{ _('Delete post') }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a href="{{ url_for('edinfo.edit_article', article_id=edinfo_post.id) }}"
                   class="btn btn-outline-primary float-right"
                   title="{{ _('Edit post') }}">
                    <i class="fas fa-edit"></i>
                </a>
            {% endif %}
        <br>
        <hr>
    {% endfor %}
{% endblock %}