{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        $('.amount').each(function() {
            var amount = $(this).text();
            if (amount == '0') {
                var tableRow = $(this).parent();
                tableRow.addClass("table-danger");
            }
        })
    });
</script>
<script src="{{ url_for('static', filename='js/bootstrap-confirm-delete.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-confirm-delete-conf.js') }}"></script>
{% endblock %}

{% block action_menu %}
<a href="{{ url_for('expdate.add_exp_date') }}" class="btn btn-outline-primary">{{ _('Add Item') }}</a>
{% endblock %}

{% block app_content %}
    <table class="table">
        <tr>
            <th>{{ _('Drug name') }} <a href="#">S</a></th>
            <th>{{ _('Exp. Date') }} <a href="#">S</a></th>
            <th>{{ _('Amount') }} <a href="#">S</a></th>
            <th>{{ _('Operations') }}</th>
        </tr>
        {% for row in expdate_table %}
        <tr class="table-row">
            <td>{{ row.drug_name }}</td>
            <td>{{ row.exp_date.strftime("%m/%Y") }}</td>
            <td class="amount">{{ row.amount }}</td>
            <td>
                <a href="{{ url_for('expdate.inc_amount', row_id=row.id) }}" class="btn btn-outline-primary" title="{{ _('Increase amount') }}">+</a>
                <a href="{{ url_for('expdate.dec_amount', row_id=row.id) }}" class="btn btn-outline-primary" title="{{ _('Decrease amount') }}">-</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('expdate.del_exp_date', row_id=row.id) }} " class="btn btn-outline-primary delete" title="{{ _('Delete row') }}">X</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}