{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" 
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
{% endblock %}

{% block scripts %}
    {{ super() }}
<script src="{{ url_for('static', filename='js/bootstrap-confirm-delete.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-confirm-delete-conf.js') }}"></script>
{% endblock %}

{% block action_menu %}
    <a href="{{ url_for('add_news') }}" class="btn btn-outline-primary">{{ _('Add news') }}</a>
{% endblock %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}
    {% for new in news %}
        <div class="container">
            <div class="card">
                <div class="card-header">
                    {{ moment(new.timestamp).format('LLL') }}
                    {% if current_user.is_authenticated %}
                    <a href="/del_news/{{ new.id }}" class="btn btn-outline-primary float-right delete" title="{{ _('Delete post') }}"><i class="fas fa-trash-alt"></i></a>
                    <a href="/edit_news/{{ new.id }}" class="btn btn-outline-primary float-right" title="{{ _('Edit post') }}"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
                <div class="card-body">{{ new.body | safe }}</div>
            </div>
        </div>
        <br>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}" class="btn btn-outline-primary float-left">{{ _('Newer posts') }}</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}" class="btn btn-outline-primary float-right">{{ _('Older posts') }}</a>
    {% endif %}
{% endblock %}