{% extends "base.html" %}

{% block action_menu %}
<a href="/order/add_law" class="btn btn-outline-primary">{{ _('Add law') }}</a>
{% endblock %}

{% block app_content %}
{% for law_post in law_posts %}
<a href="/order/law/{{ law_post.id }}">{{ law_post.title | safe }}</a>
<br>
{% if current_user.is_authenticated %}
<a href="/order/del_law/{{ law_post.id }}" class="btn btn-outline-primary float-right">{{ _('Delete post') }}</a>
<a href="/order/edit_law/{{ law_post.id }}" class="btn btn-outline-primary float-right">{{ _('Edit post') }}</a>
<br><br><hr>
{% endif %}
{% endfor %}
{% endblock %}