{% extends "base.html" %}

{% block action_menu %}
    <a href="#" class="btn btn-outline-primary">{{ _('Some functionality') }}</a>
{% endblock %}
{% block app_content %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et ante porttitor, maximus eros quis, fermentum nulla.
    Phasellus vitae ligula at nisi aliquet congue. Nullam quis ultricies arcu, eu auctor lacus. Aenean mollis consequat erat, at laoreet felis venenatis sit amet.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean et augue neque.
    Morbi ultrices neque eget lectus consequat scelerisque. Vestibulum dignissim dui nec eros finibus luctus.
    Maecenas eros libero, varius a lacus eu, dignissim consequat arcu. Aenean congue vitae leo non viverra.
    Nam commodo hendrerit mi quis aliquam. Morbi lobortis ex a condimentum porttitor. Mauris finibus mauris a arcu auctor, in suscipit dui venenatis.
    Mauris egestas, felis eget dapibus viverra, velit enim eleifend sem, vel dictum turpis ex a ligula. Duis in augue ante. Mauris cursus diam eget interdum hendrerit.
</p>
{% endblock %}